<form class="site-log-in-out-form"
      *ngIf="user"
      #registrationForm="ngForm"
      (ngSubmit)="onSubmit()">
  <text-input [(ngModel)]="user.name"
              [name]="'name'"
              [(errorText)]="formErrors.name"
              [placeholder]="'Имя'"
              ngDefaultControl></text-input>
  <text-input [(ngModel)]="user.surname"
              [name]="'surname'"
              [(errorText)]="formErrors.surname"
              [placeholder]="'Фамилия'"
              ngDefaultControl></text-input>
  <text-input [(ngModel)]="user.patronymic"
              [name]="'patronymic'"
              [(errorText)]="formErrors.patronymic"
              [placeholder]="'Отчество'"
              ngDefaultControl></text-input>
  <div class="text-left registration-label">
    Дата рождения
  </div>
  <div class="edit-prfl-date">
    <div class="edit-prfl-date__day edit-prfl-date__item">
      <select-input [(ngModel)]="user.birthDay"
                    [name]="'birthDay'"
                    [options]="birthDays"
                    [className]="'field-registrationform-birthday'"
                    [(errorText)]="formErrors.birthDay"
                    ngDefaultControl></select-input>
    </div>
    <div class="edit-prfl-date__month edit-prfl-date__item">
      <select-input [(ngModel)]="user.birthMonth"
                    [name]="'birthMonth'"
                    [options]="birthMonths"
                    [className]="'field-registrationform-birthmonth'"
                    [(errorText)]="formErrors.birthMonth"
                    ngDefaultControl></select-input>
    </div>
    <div class="edit-prfl-date__year edit-prfl-date__item">
      <select-input [(ngModel)]="user.birthYear"
                    [name]="'birthYear'"
                    [options]="birthYears"
                    [className]="'field-registrationform-birthyear'"
                    [(errorText)]="formErrors.birthYear"
                    ngDefaultControl></select-input>
    </div>
  </div>

  <div class="text-left registration-label">
    Пол
  </div>
  <div class="form-group field-registrationform-male"
       [ngClass]="{'has-danger': !!formErrors.male}">
    <div class="registration-radio-list"><input type="hidden" name="RegistrationForm[male]" value="">
      <div>
        <div class="radio">
          <label>
            <input type="radio"
                   [(ngModel)]="user.male"
                   name="male"
                   required
                   value="0">
            Женский
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio"
                   [(ngModel)]="user.male"
                   name="male"
                   required
                   value="1">
            Мужской
          </label>
        </div>
      </div>
    </div>
    <div class="form-control-feedback">{{formErrors.male}}</div>
  </div>

  <text-input *ngIf="user.isDoctor()"
              [(ngModel)]="user.license"
              [name]="'license'"
              [(errorText)]="formErrors.license"
              [className]="'field-registrationform-license'"
              [placeholder]="'Лицензия'"
              ngDefaultControl></text-input>
  <select-input *ngIf="user.isPatient()"
                [(ngModel)]="user.district_code"
                [name]="'district_code'"
                [options]="districtNames"
                [className]="'field-registrationform-district_code'"
                [(errorText)]="formErrors.district_code"
                ngDefaultControl></select-input>
  <text-input *ngIf="!isEditMode"
              [(ngModel)]="user.email"
              [name]="'email'"
              [(errorText)]="formErrors.email"
              [className]="'field-registrationform-email'"
              [placeholder]="'Email'"
              ngDefaultControl></text-input>
  <text-input [(ngModel)]="user.phone"
              [name]="'phone'"
              [(errorText)]="formErrors.phone"
              [className]="'field-registrationform-phone'"
              [placeholder]="'Ваш телефон'"
              ngDefaultControl></text-input>
  <text-input *ngIf="user.isPatient()"
              [(ngModel)]="user.promo"
              [name]="'promo'"
              [(errorText)]="formErrors.promo"
              [className]="'field-registrationform-promo'"
              [placeholder]="'Промокод'"
              ngDefaultControl></text-input>

  <div class="form-group field-registrationform-password relative"
       *ngIf="!isEditMode"
       [ngClass]="{'has-danger': !!formErrors.password}">
    <input type="password"
           #passwordInput
           class="form-control js-password"
           placeholder="Пароль"
           required
           [(ngModel)]="user.password"
           name="password">
    <div class="form-control-feedback">{{formErrors.password}}</div>
    <div class="js-password-icon"
         [ngClass]="{'active': passwordInput.type === 'text'}"
         (click)="passwordInput.type = (passwordInput.type === 'password') ? 'text' : 'password'"></div>
  </div>
  <div class="form-group text-center">
    <button type="submit"
            class="button"
            name="login-button">
      {{isEditMode ? 'Сохранить' : 'Присоединиться'}}
    </button>
  </div>

</form>
