<div class="container-fluid fixed-top">
  <div class="top-nav-bar">
    <ul class="list-inline top-nav">
      <li><a
        href="http://biogenom.ru/%d0%be-%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b5/">Медплатформа</a>
      </li>
      <li><a href="http://biogenom.ru/news/">Новости</a></li>
      <li><a href="http://biogenom.ru/o-nas/%D0%BE-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8/">О компании</a>
      </li>
      <li><a href="http://biogenom.ru/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B/">Контакты</a></li>
    </ul>
    <ul class="list-inline top-nav ">
      <li>Пермь</li>
      <li>+7 (342) 200-86-24</li>
      <li>8 800 555 96 24</li>
      <li><a href="#" class="top-nav_callback js-open-popup" data-selector="#callback-popup">Заказать звонок</a>
      </li>
    </ul>
  </div>
  <div class="top-user-bar">
    <div class="mobile-logo-bar ">
      <a href="http://biogenom.ru">
        <img src="/public/img/logo.png" class="top-user-bar-logo">
      </a>
    </div>
    <div class="top-nav-account relative">
      <div class="top-account-widget-name-item">
        Маргарита
      </div>
      <div class="top-under-avatar ">
        <img class="top-avatar" src="/public/img/top-avatar.png">
      </div>
      <div class="top-avatar-more dropdown-button"
           materialize='dropdown'
           data-activates="dropdown-account-menu"
           data-constrainWidth="false"></div>
      <ul id="dropdown-account-menu"
          materialize
          class="dropdown-menu dropdown-menu-right">
        <li>
          <a href="/account/index">Мой профиль</a></li>
        <li>
          <a href="/account/anketa">Анкета</a></li>
        <li class="divider"></li>
        <li><a href="/site/logout">Выйти</a></li>
      </ul>
    </div>
  </div>
</div>
