:host {
  width: 100%;

  .footer {
    margin-top: 40px;
    background: #D8D8D8;
    padding-left: 30px;
    overflow: hidden;
    padding-top: 30px;
  }

  .footer .footer-col {
    float: left;
    width: 22%;
  }


  .footer .footer-col .nav {
    display: flex;
    flex-direction: column;
  }

  .footer .footer-col .nav li {
    line-height: 18px;
    font-family: 'Ubuntu', serif;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
  }

  .footer .footer-col .col-title {
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
  }

  .footer .footer-col .nav li a {
    padding: 5px 30px 5px 0;
    font-family: 'Ubuntu', serif;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    position: relative;
    display: block;
  }

  .footer .footer-col .nav li a:hover,
  .footer .footer-col .nav li a:focus {
    color: #808080;
    background: none;
  }

  .footer .footer-contacts .footer-contacts-item {
    padding-top: 5px;
    padding-bottom: 3px;
  }

  .footer .rights {
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'Ubuntu', serif;
    font-weight: 300;
    font-size: 16px;
    color: #808080;
    margin-top: 60px;
    margin-bottom: 25px;
  }
}

.dialog-modal {
  .modal {
    width: 65%;
    max-height: 75%;
  }

  .dialog-text{
    font-size: 1.3rem;
    margin-bottom: 35px;
  }

  [modal-content]:empty{
    margin: 0;
    padding: 0;
  }
}

