<div class="footer">
  <div class="footer-col  mobile-hide">
    <div class="col-title">
      <strong>О нас</strong>
    </div>
    <ul class="nav">
      <li><a href="https://biogenom.ru/o-nas/%D0%BA%D0%BE%D1%80%D0%BF%D0%BE%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%B0%D1%8F-%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0/">Корпоративная культура</a></li>
      <li><a href="https://biogenom.ru/o-nas/%D0%BA%D0%BE%D0%BC%D0%B0%D0%BD%D0%B4%D0%B0/">Команда</a></li>
      <li><a href="https://biogenom.ru/o-nas/%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D1%8F-%D0%B8-%D1%86%D0%B5%D0%BB%D0%B8/">Миссия и цели</a></li>
      <li><a href="https://biogenom.ru/o-nas/%D0%BE-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8/">О компании</a></li>
    </ul>
  </div>
  <div class="footer-col mobile-hide">
    <div class="col-title">
      <strong>Сотрудничество</strong>
    </div>
    <ul class="nav">
      <li><a href="https://biogenom.ru/sotrudnichestvo/%D0%BE%D1%82%D0%B7%D1%8B%D0%B2%D1%8B-%D0%BA%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D0%BE%D0%B2/">Отзывы клиентов</a></li>
      <li><a href="https://biogenom.ru/sotrudnichestvo/%D0%BF%D0%B0%D1%80%D1%82%D0%BD%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE/">Партнерство</a></li>
    </ul>
  </div>
  <div class="footer-col mobile-hide">
    <div class="col-title">
      <strong>Документы</strong>
    </div>
    <ul class="nav">
      <li><a href="https://biogenom.ru/documents/%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D0%BE%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D1%8F-%D1%83%D1%81%D0%BB%D1%83%D0%B3/">Правила оказания услуг</a></li>
    </ul>
  </div>
  <div class="footer-col mobile-hide">
    <ul class="nav">
      <li><a href="https://biogenom.ru/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B/">Контакты</a></li>
      <li>
        <div class="footer-contacts">
          <div class="footer-contacts-item">Пермь, Горького, 60</div>
          <div class="footer-contacts-item">info@biogenom.ru</div>
          <div class="footer-contacts-item">8 342 200 86 24</div>
          <div class="footer-contacts-item">8 800 555 96 24</div>
        </div>
      </li>
    </ul>
  </div>


  <div class="bottom-social mobile-show">
    <a href="#">
      <img src="/public/img/vk.png" alt="">
    </a>
    <a href="#">
      <img src="/public/img/fb.png" alt="">
    </a>
  </div>

  <div class="rights">
    2013-2017 ООО “Биогеном” все права защищены
  </div>
</div>
