<div class="left-menu left-main-col mobile-hide" >
  <div class="left-nav-bar ">
    <ul class="nav"><li><a href="/account">Мой профиль</a></li>
      <li><a href="/site/stub/4">Полный отчет по состоянию здоровья</a></li>
      <li><a href="/site/stub/5">Риски для здоровья</a></li>
      <li><a href="/site/stub/6">Медико-профилактические мероприятия</a></li>
      <li><a href="/site/stub?7">Комплексная индивидуальная программа</a></li>
      <li><a href="/site/stub?8">История лечения</a></li>
      <li><a href="/site/stub?9">Результаты анализов</a></li>
      <li><a href="/site/stub/410">История покупок</a></li>
      <li><a href="/site/stub/411">Возврат 2-НДФЛ</a></li>
      <li><a href="/account/anketa">Анкета</a></li></ul>        </div>
  <div class="left-social">
    <a href="https://vk.com/biogenom">
      <img src="/public/img/vk.png" alt="">
    </a>
    <a href="https://www.facebook.com/biogenom">
      <img src="/public/img/fb.png" alt="">
    </a>
  </div>
</div>
