<div class="site-login">
  <h1>Регистрация</h1>
  <a [routerLink]="['/login']">
        <span>
            Уже зарегистрированы?
        </span>
  </a>

  <div class="site-log-in-out-form" *ngIf="user">
    <select-input [(ngModel)]="user.type"
                  [name]="'roleType'"
                  [options]="roleTypes"
                  [className]="'field-registrationform-roletype'"
                  ngDefaultControl></select-input>
  </div>

  <app-registration-form [roleType]="roleType"
                         [user]="user"></app-registration-form>
</div>
