<div class="row prfl-row">
  <div class="prfl-row-title">
    <h2>Сервисы</h2>
  </div>
  <div class="prfl-row-content">
    <div class="prfl-services">
      <a href="#" class="prfl-service">
        <div class="prfl-service_icon prfl-service_icon-1"></div>
        <div class="prfl-service_title">
          <span>Запись к врачу</span>
        </div>
      </a>
      <a href="#" class="prfl-service">
        <div class="prfl-service_icon prfl-service_icon-2"></div>
        <div class="prfl-service_title">
          <span>Интернет-аптека</span>
        </div>
      </a>
      <a href="#" class="prfl-service">
        <div class="prfl-service_icon prfl-service_icon-3"></div>
        <div class="prfl-service_title">
          <span>Санаторно-курортное лечение</span>
        </div>
      </a>
      <a href="#" class="prfl-service">
        <div class="prfl-service_icon prfl-service_icon-4"></div>
        <div class="prfl-service_title">
          <span>Питание</span>
        </div>
      </a>
      <a href="#" class="prfl-service">
        <div class="prfl-service_icon prfl-service_icon-5"></div>
        <div class="prfl-service_title">
          <span>Процедуры</span>
        </div>
      </a>
      <a href="#" class="prfl-service">
        <div class="prfl-service_icon prfl-service_icon-6"></div>
        <div class="prfl-service_title">
          <span>Телемедицина</span>
        </div>
      </a>
      <a href="#" class="prfl-service">
        <div class="prfl-service_icon prfl-service_icon-7"></div>
        <div class="prfl-service_title">
          <span>Фитнес</span>
        </div>
      </a>
    </div>
  </div>
</div>
