<div *ngIf="typeValues == 0">
  <div class="test-header"> Заполнить анализ</div>
  <div class="anketa">
    <div class="anketa-group-list">
      <a class="anketa-group-list-item" style="min-height: 130px;" *ngFor="let question of questions" (click)="changeUrl(question.id_measure)" >
        <div class="anketa-group-list-item-title" style="font-weight: bold"> {{question.name}}</div>
      <div class="anketa-group-list-item-scale" *ngIf="isPatient">
        <div class="anketa-group-list-item-scale__text">
          <span>Готово</span>
          <span>{{question.answered.proc}}%</span>
        </div>
        <div class="anketa-group-list-item-scale__scale-container">
          <div class="anketa-group-list-item-scale__scale-scale" style.width="{{question.answered.proc}}%"></div>
        </div>
      </div>
      <div class="anketa-group-list-item-lost" *ngIf="isPatient">
        Вы ответили на {{question.answered.answered}} вопросов из {{question.answered.need}}
      </div>
      </a>
    </div>
  </div>
</div>
<div class="anketa anketa-questions" *ngIf="typeValues != 0">
  <form
    #questionsForm="ngForm"
    (ngSubmit)="onSubmit()">
    <h1 class="anketa-question-title">{{group[0].name}}</h1>
    <div class="anketa-question-list">
      <div class="anketa-question-list-item" *ngFor="let question of questions">
        <div class="anketa-question-list-item-title">{{question.name}}</div>
        <div class="anketa-question-list-item-values">
          <text-input
            *ngIf="question.typevalue == 1 || question.typevalue == 0"
            [(ngModel)]="answer[question.array_key].value"
            [name]="'value'"
            [placeholder]="'Введите число / номер'"
            ngDefaultControl></text-input>
          <div *ngIf="question.typevalue == 2">
            <label class="radio" *ngFor="let option of question.values">
              <input type="radio"
                     [(ngModel)]="answer[question.array_key].value"
                     value = "{{option.id}}"
                     name = "{{option.name}}"
                     [checked] = "option.name == answer[question.array_key].value">
              <span>{{option.name}}</span>
            </label>
          </div>
          <div *ngIf="question.typevalue == 3">
            <label class="radio" *ngFor="let option of question.values">
              <input type="checkbox"
                     value = "{{option.id}}"
                     [attr.checked] = "answer[question.array_key].value.indexOf(option.id) != -1 ? true : null"
                     (change)="checkboxClick(question.array_key, option)"
              >
              <span>{{option.name}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="anketa-questions-buttonset" style="width: 994px; left: 375px;" *ngIf="showSaveButton">
      <button type="submit"
              class="button"
              name="answer-button">
        Добавить
      </button>
    </div>
    <div class="anketa-questions-buttonset" style="width: 994px; left: 375px;" *ngIf="isPatient == false">
      <div class="user-id-input">
        <text-input style="border: 1px;"
                    [(ngModel)]="user_id"
                    [className]="'user-id-input'"
                    [name]="'user_id'"
                    [placeholder]="'ID клиента'"
                    ngDefaultControl></text-input>
      </div>
      <button type="submit"
              class="button answer-button"
              name="answer-button">
        Добавить
      </button>
    </div>
  </form>
</div>




