
<div class="test-header"> Заполнить анализ</div>
<div class="anketa" *ngIf="typeValues == 0">
  <div class="anketa-group-list">
    <a class="anketa-group-list-item" *ngFor="let question of questions"><div (click)="loadAnketa(question.id_measure)" class="anketa-group-list-item-title"> {{question.name}}</div></a>
  </div>
</div>

<div class="anketa anketa-questions" *ngIf="typeValues != 0">
  <div class="anketa-question-list">
    <div class="anketa-question-list-item" *ngFor="let question of questions">
      <div class="anketa-question-list-item-title">{{question.name}}</div>
      <div class="anketa-question-list-item-values"></div>
    </div>
  </div>
</div>




