.test-header{
  color: black;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
}
.anketa-question-title{
  font-family: Ubuntu Medium;
  font-size: 26px;
  color: #000000;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}
