<div class="row prfl-row">
  <div class="prfl-row-title">
    <h2>Риски для здоровья</h2>
  </div>
  <div class="prfl-row-content">
    <div class="prfl-riski">
      <div class="prfl-riski-left">
        <div class="prfl-riski-intro">
          <div class="prfl-riski-intro_item">
            <div class="scale-container">
              <div class="scale scale-blue"></div>
            </div>
            <div class="prfl-riski-text prfl-riski-text-intro">
              Ваше состояние
            </div>
          </div>
          <div class="prfl-riski-intro_item">
            <div class="scale-container">
              <div class="scale scale-green"></div>
            </div>
            <div class="prfl-riski-text prfl-riski-text-intro">
              Эталонное состояние
            </div>
          </div>
        </div>
        <div class="prfl-riski-image mobile-hide">
          <img src="/public/img/enalon.png" alt="">
        </div>
      </div>
      <div class="prfl-riski-right">
        <div class="prfl-riski-list" >
          <div class="prfl-riski-list-item">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 45%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              45% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue" style="width: 35%">
                  <div class="scale-text">35%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue" style="width: 65%">
                  <div class="scale-text">65%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item  mobile-hide">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item  mobile-hide">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item  mobile-hide">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item  mobile-hide">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item  mobile-hide">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item mobile-hide">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-green" style="width: 35%"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
          <div class="prfl-riski-list-item mobile-hide">
            <div class="prfl-riski-list-item_title prfl-riski-text">
              Риск сердечно сосудистых заболеваний
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container">
                <div class="scale scale-blue">
                  <div class="scale-text">100%</div>
                </div>
              </div>
            </div>
            <div class="prfl-riski-list-item_scale">
              <div class="scale-container" style="width: 35%">
                <div class="scale scale-green"></div>
              </div>
            </div>
            <div class="prfl-riski-text-small">
              35% – эталонное состояние
            </div>
          </div>
        </div>
        <div class="mobile-show">
          <div class="button js-toggle" data-selector=".prfl-riski-list-item.mobile-hide">Показать все</div>
        </div>
      </div>
    </div>
  </div>
</div>
