<div class=""
     [ngClass]="{'has-danger': !!errorText}">
  <label class="radio" *ngFor="let option of options">
    <input type="radio"
           [attr.name]="name"
           [(ngModel)]="ngModel"
           [value] = "option.id"
           [checked] = "option.id"
           (change)="onSelectionChange(option.id)" >
    <span>{{option.name}}</span>
  </label>
  <!--<select class="form-control"
          [attr.name]="name"
          [(ngModel)]="ngModel"
          (change)="errorText = ''">
    <option *ngFor="let option of options" [value]="option.value">{{option.text}}</option>
  </select>-->
  <div class="form-control-feedback">{{errorText}}</div>
</div>
