<div class="site-login">
  <h1>Войти</h1>
  <a [routerLink]="['/registration']">
        <span>
            Еще не зарегистрированы?
        </span>
  </a>

  <form id="login-form"
        class="site-log-in-out-form"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()">
    <text-input [(ngModel)]="user.email"
                [name]="'email'"
                [(errorText)]="formErrors.email"
                [className]="'field-registrationform-email'"
                [placeholder]="'E-Mail'"
                ngDefaultControl></text-input>

    <div class="form-group field-registrationform-password relative"
         [ngClass]="{'has-danger': !!formErrors.password}">
      <input type="password"
             #passwordInput
             class="form-control js-password"
             placeholder="Пароль"
             required
             [(ngModel)]="user.password"
             name="password">
      <div class="form-control-feedback">{{formErrors.password}}</div>
      <div class="js-password-icon"
           [ngClass]="{'active': passwordInput.type === 'text'}"
           (click)="passwordInput.type = (passwordInput.type === 'password') ? 'text' : 'password'"></div>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="button" name="login-button">Войти</button>
    </div>

  </form>
</div>
