
$top-nav-bar---height: 54px;
$top-user-bar---height: 100px;
$member-area_header---height: $top-nav-bar---height + $top-user-bar---height;
$member-area_header_unlogined---height: 99px;


$member-area_left-nav---width: 25%;
$member-area_left-nav---max-with: 345px;
