.prfl-calendar-list-item_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prfl-calendar-list{
  overflow: auto;
}

.calendar-arrow{
  cursor: pointer;
}

/* CALENDAR MORE */
.calendar-more{
  margin-top: 10px;
  padding: 23px 26px;

  .calendar-more-title{}
  .calendar-more-content{
    margin-top: 17px;
    table{
      tr{
        td{
          padding: 5px 10px;
        }
      }
    }
  }

  .calendar-more-actions{
    font-size: 14px;
    color: #4EB0F5;
    display: none;
  }
}
.calendar-dot{
  font-size: 20px;
  font-weight: bold;
  color: #BABABB;
  margin-bottom: -9px;
  margin-top: -16px;
}

.calendar-more__editable{
  .calendar-more-actions{
    display: flex;
    margin-top: 25px;

    .calendar-more-action{
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 8px;
      }

      img{

      }
    }
  }
}
