<div class="row prfl-row">
  <div class="prfl-row-title">
    <h2>Расписание</h2>
  </div>
  <div class="prfl-row-content">
    <div class="prfl-calendar">
      <div class="prfl-calendar-left">

        <div class="main-calendar hasDatepicker" id="main-calendar">
          <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
               style="display: block;">
            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
              <a class="ui-datepicker-prev ui-corner-all" (click)="getPrevMont()"> <img class="calendar-arrow" src="../../public/img/arrow-left.png"> </a>
              <a class="ui-datepicker-next ui-corner-all" (click)="getNextMonth()"> <img src="../../public/img/arrow-right.png"> </a>
              <div class="ui-datepicker-title"><span class="ui-datepicker-month">{{titleMonth}}</span></div>
            </div>
            <table class="ui-datepicker-calendar">
              <thead>
              <tr>
                <th scope="col"><span title="понедельник">пн</span></th>
                <th scope="col"><span title="вторник">вт</span></th>
                <th scope="col"><span title="среда">ср</span></th>
                <th scope="col"><span title="четверг">чт</span></th>
                <th scope="col"><span title="пятница">пт</span></th>
                <th scope="col" class="ui-datepicker-week-end"><span title="суббота">сб</span></th>
                <th scope="col" class="ui-datepicker-week-end"><span title="воскресенье">вс</span></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of daysArray">
                <td class="data-handler=selectDay"  [ngClass]="{'ui-state-disabled': cell[0].type=='prev' || cell[0].type=='next'}" (click)="getSchedule(cell[0].day_num)" *ngFor="let cell of row" ><div *ngIf="daysDoted.indexOf(currentMonth + '.' + cell[0].day_num) !== -1" class="calendar-dot">.</div><a style="cursor: pointer" [ngClass]="{'ui-state-active': cell[0].active == 'true'}">{{cell[0].day_num}}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="calendar-more calendar-more__editable"
              *ngIf="(entries.length==0 || toEditSchedule == true) && allowToEditAndAddSchedule == true">
          <div class="calendar-more-title">
            <span>Выбрать время приема</span>
          </div>
          <div class="calendar-more-content">
            <table>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>
                    <select-input [(ngModel)]="newSchedule.start_time"
                                      [name]="'start_time'"
                                      [options]="startTimes"
                                      ngDefaultControl>
                    </select-input>
                </td>
                <td>
                  <select-input [(ngModel)]="newSchedule.end_time"
                                [name]="'end_time'"
                                [options]="endTimes"
                                ngDefaultControl>
                  </select-input>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Длительность приема, мин:</span>
                </td>
                <td>
                  <text-input [(ngModel)]="newSchedule.reception_time"
                              [name]="'reception_time'"
                              [placeholder]="'минуты'"
                              ngDefaultControl></text-input>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <select-input [(ngModel)]="newSchedule.clinic_id"
                                [name]="'clinic_id'"
                                [options]="clinics"
                                ngDefaultControl>
                  </select-input>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <text-input [(ngModel)]="newSchedule.price"
                              [name]="'price'"
                              [placeholder]="'Цена, руб'"
                              ngDefaultControl></text-input>
                </td>
              </tr>
            </table>
          </div>
          <div class="calendar-more-actions" *ngIf="toAddSchedule == true">
            <div class="calendar-more-action"
                 (click)="addAction()">
              Сохранить
            </div>
            <div class="calendar-more-action"
                 (click)="clearFormAction()">
              Очистить все поля
            </div>
          </div>
          <div class="calendar-more-actions" *ngIf="toEditSchedule == true && toAddSchedule == false">
            <div class="calendar-more-action"
                 (click)="editAction()">
              Изменить
            </div>
            <div class="calendar-more-action"
                 (click)="deleteAction()">
              Удалить из расписания
            </div>
          </div>
        </div>

        <div style="background: #EDF7F9;" class="calendar-more calendar-more__editable"
             *ngIf="entries.length>0 && toEditSchedule == false">
          <div class="calendar-more-title">
            <span>Текущий график на {{currentDay}} {{titleMonth}}</span>
          </div>
          <div class="calendar-more-content" *ngFor="let schedule of scheduleList">
            <table>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>
                  <span style="font-weight: bold">{{schedule.clinic_name}}</span>
                </td>
                <td>
                  <span (click)="deleteAction(schedule.schedule_id)" style="color: #C9DEE2; margin-left: 50px; cursor: pointer">X</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Цена: {{schedule.price}}</span>
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <span>Работа: с {{schedule.start_time_formated}} до {{schedule.end_time_formated}}</span>
                </td>
                <td>
                  <div *ngIf="allowToEditAndAddSchedule == true" class="calendar-more-actions" style="margin-top: -1px;">
                    <div class="calendar-more-action"
                         (click)="showEditForm(schedule.schedule_id)">
                      Изменить
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            <hr>
          </div>
          <div *ngIf="allowToEditAndAddSchedule == true" class="calendar-more-actions">
            <div class="calendar-more-action"
                 (click)="addNewForm()">
              Добавить еще
            </div>
          </div>
        </div>
      </div>
      <div class="prfl-calendar-right">
        <div class="prfl-calendar-list">
          <div class="prfl-calendar-list-title" style="font-weight: bold">
            Запись на {{currentDay}} {{titleMonth}}
          </div>
          <div class="prfl-calendar-list-item" *ngFor="let entry of entries">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              <div>{{entry.name}}</div>
              <div>{{entry.time}}</div>
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">{{entry.place}}</div>
              <div class="prfl-calendar-list-item_timesmap-item">{{entry.price}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
