<div class="row prfl-row prfl-row-calendar">
  <div class="prfl-row-title mobile-hide">
    <h2>Ближайшие медико-профилактические мероприятия</h2>
  </div>
  <div class="prfl-row-content prfl-row-content-calendar">
    <div class="prfl-calendar">
      <div class="prfl-calendar-left">
        <app-calendar></app-calendar>
      </div>
      <div class="prfl-calendar-right">
        <div class="prfl-calendar-list js-hidden-part-calendar-list-items" tabindex="5002" style="overflow: hidden; outline: none;">
          <div class="prfl-calendar-list-title">
            Сегодня 24 ноября
          </div>
          <div class="prfl-calendar-list-item">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item mobile-hide all-hide">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">12:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">14:00</div>
              <div class="prfl-calendar-list-item_timesmap-item">19:00</div>
            </div>
          </div>
          <div class="prfl-calendar-list_show-all-items">
            <a href="#" class="js-toggle mobile-hide" data-selector=".prfl-calendar-list-item.all-hide">смотреть все мероприятия на сегодня</a>

            <div class="mobile-show button js-toggle" data-selector=".prfl-calendar-list-item.all-hide">Смотреть все на сегодня</div>
          </div>

          <div class="prfl-calendar-list-title">
            25 ноября – 25 декабря
          </div>

          <div class="prfl-calendar-list-item__all-month">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">25 ноября в 18:30</div>
            </div>
          </div>

          <div class="prfl-calendar-list-item__all-month">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">25 ноября в 18:30</div>
            </div>
          </div>

          <div class="prfl-calendar-list-item__all-month">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">25 ноября в 18:30</div>
            </div>
          </div>

          <div class="prfl-calendar-list-item__all-month">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">25 ноября в 18:30</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item__all-month">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">25 ноября в 18:30</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item__all-month">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">25 ноября в 18:30</div>
            </div>
          </div>
          <div class="prfl-calendar-list-item__all-month">
            <div class="prfl-calendar-list-item_title prfl-calendar-text">
              Массаж шеи
            </div>
            <div class="prfl-calendar-list-item_timesmap">
              <div class="prfl-calendar-list-item_timesmap-item">25 ноября в 18:30</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
