<div class="relative">
  <div class="top-bell"
       materialize='dropdown'
       data-activates="submenu-bell">
    <div class="top-bell-count">{{noticeCount}}</div>
  </div>
  <ul class="dropdown-menu  dropdown-menu-right"
      materialize
      id="submenu-bell"
      (click)="$event.stopPropagation()">
    <li>
      <span class="dropdown-menu_title">Мои уведомления</span>
    </li>
    <li *ngFor="let notice of notices">
      <span [ngSwitch]="notice.type"
            class="bell-notice"
            (mouseenter)="setNoticeRead(notice)">

        <span *ngSwitchCase="'doctor_pacient_connect'">
          <span *ngIf="user.isPatient()">Доктор (ИД: {{notice.extra_data.doctor_id}}) просит у Вас доступы</span>
          <span *ngIf="user.isDoctor()">Пациент (ИД: {{notice.extra_data.pacient_id}}) просит у Вас доступы</span>
          <!--  TODO: изменить это в будущем - тут строго акшоны только у пациента -->
          <span class="notice-actions" *ngIf="user.isPatient()">
            <span class="notice-action" (click)="approveConnection(notice)">Подтвердить</span> |
            <span class="notice-action" (click)="disconnectPacientFromDoctor(notice)">Отказать</span>
          </span>
        </span>

        <span *ngSwitchCase="'doctor_pacient_connection_approve'">
          <span *ngIf="user.isPatient()">Доктор (ИД: {{notice.extra_data.doctor_id}}) теперь имеет доступ к вашей учетной записи</span>
          <span *ngIf="user.isDoctor()">Пациент (ИД: {{notice.extra_data.pacient_id}}) теперь имеет доступ к вашей учетной записи</span>
          <span class="notice-actions" *ngIf="user.isPatient()">
            <span class="notice-action" (click)="disconnectPacientFromDoctor(notice)">Отказать</span>
          </span>
        </span>

        <span *ngSwitchCase="'doctor_pacient_disconnect'">
          <span *ngIf="user.isPatient()">Доктор (ИД: {{notice.extra_data.doctor_id}}) теперь не имеет доступ к вашей учетной записи</span>
          <span *ngIf="user.isDoctor()">Пациент (ИД: {{notice.extra_data.pacient_id}}) теперь не имеет доступ к вашей учетной записи</span>
        </span>

        <span *ngSwitchCase="'partner_send_tests_result'">
          <span *ngIf="user.isPatient()">Партнер (ИД: {{notice.extra_data.partner_id}}) прислал результаты ваших анализов "{{notice.extra_data.tests_name}}"</span>
          <span *ngIf="user.isDoctor()">Пациент (ИД: {{notice.extra_data.pacient_id}}) получил результаты анализа "{{notice.extra_data.tests_name}}" от партнера (ИД: {{notice.extra_data.partner_id}})</span>
        </span>

        <span *ngSwitchDefault="">
          <span>Неизвестный тип уведомления</span>
        </span>

        <span class="under-a">{{notice.time}}</span>
        <span class="top-bell-delete-notice" (click)="deleteUserNotice(notice)" > x </span>
      </span>
    </li>
  </ul>
</div>
