<div class="relative">
  <div class="top-bell"
       materialize='dropdown'
       data-activates="submenu-bell">
    <div class="top-bell-count">{{noticeCount}}</div>
  </div>
  <ul class="dropdown-menu  dropdown-menu-right"
      materialize
      id="submenu-bell">
    <li>
      <span class="dropdown-menu_title">Мои уведомления</span>
    </li>
    <li *ngFor="let notice of notices">
      <span [ngSwitch]="notice.type"
            class="bell-notice"
            (mouseenter)="setNoticeRead(notice)">
        <span *ngSwitchCase="'doctor_pacient_connect'">
          <span>Доктор (ИД: {{notice.extra_data.doctor_id}}) просит у Вас доступы</span>
          <span class="notice-actions"><span class="notice-action">Подтвердить</span> | <span class="notice-action">Отказать</span></span>
          <span class="under-a">{{notice.time}}</span>
        </span>
        <span *ngSwitchDefault="">
          <span>Неизвестный тип уведомления</span>
        </span>
      </span>
    </li>
  </ul>
</div>
