<div class="row prfl-row">
  <div class="prfl-row-title">
    <h2>Сотрудничество с Biogenom</h2>
  </div>
  <div class="prfl-row-content">
    <p>Зарабатывайте вместе с Biogenom без отрыва от основного места работы.</p>
    <p>
      <span>На данный момент для Вас доступно сотрудничество по двум направлениям:</span>
    </p>
    <ol>
      <li>Оказание медицинской услуги в рамках медицинской платформы BIOGENOM;</li>
      <li>Прием пациентов по своему профилю через наш сервис «Запись к врачу».</li>
    </ol>
    <p>Более подробную информацию Вы можете узнать, позвонив по номеру 8-800-555-96-24</p>
  </div>
</div>
