<div class="row prfl-main" *ngIf="user">
  <div class="prfl-avatar relative">
    <img [src]="user.getAvatarUrl()" alt="">
    <div class="mobile-show prfl-avatar_actions prfl-avatar_actions-top"></div>
    <div class="prfl-avatar_actions">
      <span class="prfl-avatar_actions--name mobile-show">
          test
      </span>


      <!-- форма новой фотографии начало -->
      <span (click)="changePhotoIsOpen = true">
        <img src="/public/img/photo-icon.png" alt="">
      </span>

      <div class="all-hide js-popup" id="change-profile-photo">
        <div class="popup-wall js-close-popup"></div>
        <div class="popup-window">
          <div class="popup-close-button js-close-popup"></div>
          <div class="popup-title">Фотография</div>
          <div class="popup-content">
            <div class="change-profile-photo-link">Выбрать из галереи</div>
            <div class="change-profile-photo-link">Сделать фотографию</div>
            <div class="change-profile-photo-link"
                 onclick="openPopup('#change-profile-photo-load'); closePopup('#change-profile-photo'); return false">
              Загрузить фотографию
            </div>
          </div>
        </div>
      </div>

      <div class="all-hide js-popup" id="change-profile-photo-load">
        <div class="popup-wall js-close-popup"></div>
        <div class="popup-window">
          <div class="popup-close-button js-close-popup"></div>
          <div class="popup-title">Загрузить фотографию</div>
          <div class="popup-content">
            <form id="w0" action="/account/upload-photo" method="post" enctype="multipart/form-data">
              <div class="form-group field-uploadform-file">
                <label class="control-label" for="uploadform-file">File</label>
                <input type="hidden" name="UploadForm[file]" value=""><input type="file" id="uploadform-file"
                                                                             name="UploadForm[file]">

                <div class="help-block"></div>
              </div>
              <button>Отправить</button>

            </form>
          </div>
        </div>
      </div>                <!-- форма новой фотографии конец-->
    </div>

  </div>
  <div class="col-sm-8 prfl-contacts">
    <div class="prfl-main-title mobile-hide">
      <ng-container [ngSwitch]="user.type">
        <h1 *ngSwitchCase="'doctor'">Личные данные доктора</h1>
        <h1 *ngSwitchCase="'partner'">Личные данные партнера</h1>
        <h1 *ngSwitchDefault>Личные данные пациента</h1>
      </ng-container>
    </div>
    <div class="contacts-table" *ngIf="user.isPatient()">
      <table>
        <tbody>
        <tr class="mobile-hide">
          <td>Ид</td>
          <td>{{user.id}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>ФИО</td>
          <td>{{user.getFio()}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Телефон</td>
          <td>{{user.phone}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Emaiil</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="contacts-table" *ngIf="user.isDoctor()">
      <table>
        <tbody>
        <tr class="mobile-hide">
          <td>Ид</td>
          <td>{{user.id}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>ФИО</td>
          <td>{{user.getFio()}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Телефон</td>
          <td>{{user.phone}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Emaiil</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="contacts-table" *ngIf="user.isPartner()">
      <table>
        <tbody>
        <tr class="mobile-hide">
          <td>Ид</td>
          <td>{{user.id}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>ФИО</td>
          <td>{{user.getFio()}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Телефон</td>
          <td>{{user.phone}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Emaiil</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="prfl-contacts-buttonset">
      <div class="button" (click)="editProfileIsOpen = true">Редактировать</div>
    </div>
  </div>
</div>


<modal-window *ngIf="user" [(isOpen)]="editProfileIsOpen" id="edit-profile-popup" >
  <div modal-header>Личные данные</div>
  <div modal-content>
    <app-registration-form [roleType]="user.type"
                           [user]="user"
                           [isEditMode]="true"></app-registration-form>
  </div>
</modal-window>

<modal-window  *ngIf="user" [(isOpen)]="changePhotoIsOpen" class="file-upload-modal">
  <div modal-header>Фотография</div>
  <div modal-content>
    <hr>
    <div ng2FileDrop class="drop-file-area" [uploader]="uploader">Перетащите файл сюда</div>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple />
    <hr>
    <table class="table">
      <thead>
      <tr>
        <th width="50%">Имя файла</th>
        <th>Размер</th>
        <th>Прогресс</th>
        <!--
        <th>Status</th>
        <th>Actions</th>
        -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td>
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <!--
        <td class="text-center">
          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs"
                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Загрузка
          </button>
          <button type="button" class="btn btn-warning btn-xs"
                  (click)="item.cancel()" [disabled]="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Прервать
          </button>
          <button type="button" class="btn btn-danger btn-xs"
                  (click)="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Удалить
          </button>
        </td>
        -->
      </tr>
      </tbody>
    </table>
    <div>
      <div>
        Прогресс:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
    </div>
  </div>
</modal-window>
