<div class="row prfl-main" *ngIf="user">
  <div class="prfl-avatar relative">
    <img [src]="user.getAvatarUrl()" alt="">
    <div class="mobile-show prfl-avatar_actions prfl-avatar_actions-top"></div>
    <div class="prfl-avatar_actions">
      <span class="prfl-avatar_actions--name mobile-show">
          test
      </span>


      <!-- форма новой фотографии начало -->
      <span (click)="changePhotoIsOpen = true">
        <img src="/public/img/photo-icon.png" alt="">
      </span>

      <div class="all-hide js-popup" id="change-profile-photo">
        <div class="popup-wall js-close-popup"></div>
        <div class="popup-window">
          <div class="popup-close-button js-close-popup"></div>
          <div class="popup-title">Фотография</div>
          <div class="popup-content">
            <div class="change-profile-photo-link">Выбрать из галереи</div>
            <div class="change-profile-photo-link">Сделать фотографию</div>
            <div class="change-profile-photo-link"
                 onclick="openPopup('#change-profile-photo-load'); closePopup('#change-profile-photo'); return false">
              Загрузить фотографию
            </div>
          </div>
        </div>
      </div>

      <div class="all-hide js-popup" id="change-profile-photo-load">
        <div class="popup-wall js-close-popup"></div>
        <div class="popup-window">
          <div class="popup-close-button js-close-popup"></div>
          <div class="popup-title">Загрузить фотографию</div>
          <div class="popup-content">
            <form id="w0" action="/account/upload-photo" method="post" enctype="multipart/form-data">
              <div class="form-group field-uploadform-file">
                <label class="control-label" for="uploadform-file">File</label>
                <input type="hidden" name="UploadForm[file]" value=""><input type="file" id="uploadform-file"
                                                                             name="UploadForm[file]">

                <div class="help-block"></div>
              </div>
              <button>Отправить</button>

            </form>
          </div>
        </div>
      </div>                <!-- форма новой фотографии конец-->
    </div>

  </div>
  <div class="col-sm-8 prfl-contacts">
    <div class="prfl-main-title mobile-hide">
      <h1>Личные данные {{user.isDoctor() ? 'доктора' : 'пациента'}}</h1>
    </div>
    <div class="contacts-table" *ngIf="user.isPatient()">
      <table>
        <tbody>
        <tr class="mobile-hide">
          <td>Ид</td>
          <td>{{user.id}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>ФИО</td>
          <td>{{user.username}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Телефон</td>
          <td>{{user.phone}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Emaiil</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="contacts-table" *ngIf="user.isDoctor()">
      <table>
        <tbody>
        <tr class="mobile-hide">
          <td>Ид</td>
          <td>{{user.id}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>ФИО</td>
          <td>{{user.username}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Телефон</td>
          <td>{{user.phone}}</td>
        </tr>
        <tr class="mobile-hide">
          <td>Emaiil</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="prfl-contacts-buttonset">
      <div class="button" (click)="editProfileIsOpen = true">Редактировать</div>
    </div>
  </div>
</div>


<modal-window *ngIf="user" [(isOpen)]="editProfileIsOpen" id="edit-profile-popup" >
  <div modal-header>Личные данные</div>
  <div modal-content>
    <app-registration-form [roleType]="user.type"
                           [user]="user"
                           [isEditMode]="true"></app-registration-form>
  </div>
</modal-window>

<modal-window  *ngIf="user" [(isOpen)]="changePhotoIsOpen">
  <div modal-header>Фотография</div>
  <div modal-content>
    <div class="change-profile-photo-link">Выбрать из галереи</div>
    <div class="change-profile-photo-link">Сделать фотографию</div>
    <div class="change-profile-photo-link">Загрузить фотографию</div>
  </div>
</modal-window>
